body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
    background-color: #f4f4f4;
}

h1 {
    color: #333;
}

button {
    padding: 10px 20px;
    font-size: 16px;
}

.about-section {
    height: 100vh;
    padding: 10px;
    background-color: #f8f9fa;
    text-align: center; /* Zentriert den Text */
  }
  .about-title {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }

  .about-title2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }

  .about-text {
    font-size: 1.2rem;
    color: #6c757d;
  }

  .about-text2 {
    font-size: 1.0rem;
    color: #6c757d;
  }

  .about-image {
    max-width: 50%;
    height: auto;
    border-radius: 10px;
    display: block;
    margin: 0 auto; /* Zentriert das Bild */
  }

  .centered-container {
    height: 100vh; /* Höhe des Viewports */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; /* Zentriert den Text */
    background-color: #f8f9fa; /* Hintergrundfarbe */
  }
  .content-box {
    background-color: #ffffff; /* Hintergrundfarbe der Box */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Schatten für die Box */
  }
  .btn-custom {
    margin: 10px; /* Abstand zwischen den Buttons */
  }